
<div>
    <form>
        <button style="float: left; margin-bottom: 10px;" type="button" class="btn btn-primary" (click)="AddEmployee()">Добавить сотрудника</button>
        <button style="float: right; margin-bottom: 10px" type="button" class="btn btn-dark" (click)="AddPosition()">Добавить должность</button>
      
    </form>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Должность</th>
            <th scope="col">Сотрудник</th>
            <th scope="col">Оклад</th>
            <th scope="col">Дата назначения</th>
            <th scope="col">Дата увольнения</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of histories; index as i">
              <td>{{i+1}}</td>
              <td>{{item.position.title}}</td>
              <td>{{item.employee.name +" "+ item.employee.surname}} </td>
              <td>{{item.salary}}</td>              
              <td date>{{item.hired | date:'M/d/yy'}}</td>
              <td>{{item.fired | date:'M/d/yy'}}</td>
          </tr>
        </tbody>
      </table>

</div>

