<div class="form-group">
    <label>Имя</label>
    <input type="text" class="form-control" [(ngModel)]="employee.name" placeholder="Имя">
</div>

<div class="form-group">
    <label>Фамилия</label>
    <input type="text" class="form-control" [(ngModel)]="employee.surname" placeholder="Фамилия">
</div>
 

<div class="form-group">
    <label for="exampleFormControlSelect1">Должность</label>
    <select  [(ngModel)]="positionId" class="form-control" id="exampleFormControlSelect1">
    <option *ngFor="let item of positions" [ngValue]="item.id" >{{item.title}}</option>
    </select>
  </div>




<mat-form-field appearance="fill">
    <mat-label>Нанят</mat-label>
    <input  matInput [matDatepicker]="picker" [(ngModel)]="pick" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  



<div class="form-group">
    <label>Оклад</label>
    <input type="text" class="form-control" [(ngModel)]="history.salary"  placeholder="Оклад">
</div>




  
  


<div class="form-group">
    <button style="float: right; margin-right: 10px;" type="button" class="btn btn-primary" (click)="onsend()">Добавить </button>
    <button style="float: right; margin-bottom: 10px" type="button" class="btn btn-dark" (click)="onclose()">Закрыть</button>
</div>
